@font-face {
    font-family: 'AaKeAiBeiTianTianQuanZhuLiao-2';
    src: url('fonts/AaKeAiBeiTianTianQuanZhuLiao-2.ttf') format('truetype');
}

h1 {
    color: pink;
    font-family: 'AaKeAiBeiTianTianQuanZhuLiao-2', cursive;
}

path {
    pointer-events: fill;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

svg {
    transform: scale(1.5);
    width: 100%;
    height: 100%;
}

#content {
    position: fixed;
    top: 20px;
    left: 20px;
}